---
layout: page
title: About Me
tags: formation tools capacities
permalink: /aboutme/
description: "Hi! My name is Margarida Coelho. I'm a Communication Designer studying Digital Experience Design in the Faculty of Fine Arts of Lisbon, Portugal. My studies currently involved UX / UI skills however the ones I'm most familiar with are research, wireframing and visual design."
---

<div class="aboutme wrapper">
    <section class="lists">
        <h2>{{ site.data.formation.docs_list_title }}</h2>
        <ul>
            {% for item in site.data.formation.docs %}
                <li>
                    <img src="{{ site.baseurl }}/assets/img/{{ item.image }}" alt="{{ item.alt }}">
                    <a href="{{ item.url }}">
                    <h3>{{ item.title }}</h3>
                    </a>
                    <h4>{{ item.content-title }}</h4>
                    <p>{{ item.content-text }}</p>
                    <p>{{ item.date }}</p>
                </li>
            {% endfor %}
        </ul>
    </section>
    <section class="lists">
        <h2>{{ site.data.tools.docs_list_title }}</h2>
        <ul>
            {% for item in site.data.tools.docs %}
                <li>
                    <img src="{{ site.baseurl }}/assets/img/{{ item.image }}" alt="{{ item.alt }}">
                    <h3>{{ item.title }}</h3>
                    <p> {{ item.content-text }} </p>
                </li>
            {% endfor %}
        </ul>
    </section>
    <section class="lists">
        <h2>{{ site.data.capacities.docs_list_title }}</h2>
        <ul>
            {% for item in site.data.capacities.docs %}
                <li>
                    <img src="{{ site.baseurl }}/assets/img/{{ item.image }}" alt="{{ item.alt }}">
                    <h3>{{ item.title }}</h3>
                    <p> {{ item.content-text }} </p>
                </li>
            {% endfor %}
        </ul>
    </section>
</div>