html,
body,
ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin: 0 auto;
    max-width: 1440px;

    .top {
        padding-top: 300px;
        box-sizing: border-box;
        @media #{$desktop} {
            padding-top: 150px;
            box-sizing: border-box;
        }
    }
}

figure {
    margin: 0px;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    padding: 10px 20px 60px 20px;
    box-sizing: border-box;
    max-width: 1200px;
    @media #{$desktop} {
        margin: 0 auto;
    }
}

