@import "colors";
@import "typography";
@import "spacing";
@import "mediaqueries";
@import "reset";

body {
    @include font;
    background-color: $primary-color;
    width: 100%;
    scroll-behavior: smooth;
}

header {
    top: 0;
    background-color: $secoundary-color;
    position: fixed;
    width: 100%;
    z-index: 1;

    .navtitle {
        color: $primary-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }

    .navigation {
        @include links;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        margin: 10px;
        @media #{$desktop} {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        li {
            padding: $sp-s $sp-s; 
        }
    
        a {
            color: $primary-color;
            text-decoration: none; 
        }

        a:hover {
            color: $details-color;
        }
    }
}

.banner {
    position: relative;

    .image-wrapper {
        max-width: 100%;
	    margin: 0px;

        .me {
            display: block;
            max-width: 100%;
            height: 950px;
            width: 100%;
            object-fit: cover;
        }
    }

    .quote {
	    color: $primary-color;
        margin: 0 auto;
	    bottom: 50px;
	    color: #fff;
	    position: absolute;
	    box-sizing: border-box;
	    text-align: center;
	    font-size: 0.875rem;
	    line-height: 20px;
    }

    .overlay {
	    position: absolute;
        top: 0px;
        bottom: 70px;
        right: 0;
        left: 0;  
        background: linear-gradient(to top, rgba(0,0,0,0.7) 30%, rgba(0,0,0,0) 80%);
    }
}

h1 {
    @include heading01;
}

h2 {
    @include heading02;
}

h3 {
    @include heading03;
}

p {
    @include paragraph;
}

.information {
    box-sizing: border-box;
    padding: 20px 0px;
    @media #{$desktop} {
        padding: 40px 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .imagehome {
        width: 200px;
        height: 200px;
        @media #{$desktop} {
            min-width: 200px;
            height: 200px;
        }

        .iconhome {
        width: 200px;
        height: 200px;
        }
    }

    .discriptions {
        @media #{$desktop} {
            margin: auto 0 auto 50px;
        }
    }
}

.socialmedia {
    padding-top: $sp-l;
    padding-bottom: $sp-l;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media #{$desktop} {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .socialist {
        display: flex;
        list-style: none;
        @media #{$desktop} {
            width: 20%;
        }

        .socialimages {
            width: 200px;
            height: 200px;
        }
    }
}

.contactinfo {
    padding-top: $sp-l;
    padding-bottom: $sp-l;
    box-sizing: border-box;
}

.title {
    padding-bottom: 20px;
    box-sizing: border-box;
}

.paragraph {
    max-width: 60%;
}

.formation {
    list-style: none;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
    @media #{$desktop} {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .formation_icons{
        width: 200px;
        height: 200px;
    }
}

.tools {
    list-style: none;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    @media #{$desktop} {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .tools_icons{
        width: 200px;
        height: 200px;
    }
}

.capacities {
    list-style: none;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    @media #{$desktop} {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .capacities_icons{
        width: 200px;
        height: 200px;
    }
}

.projectsinfo {
    padding-bottom: $sp-l;
    @media #{$desktop} {
        padding-top: $sp-s;
        padding-bottom: $sp-xxl;
        box-sizing: border-box;
    }     
}

.projectsection {
    display: flex;
    flex-direction: column;
    @media #{$desktop} {
        flex-flow: row wrap;
    }
    .projectcontent {
        flex: 100%;
        padding-top: $sp-s;
        padding-bottom: $sp-s;
        box-sizing: border-box;
        @media #{$desktop} {
            flex: 50%;
            padding-right: $sp-s;
        }
    }
}

.lists {
    @include lis;
    padding-left: $sp-l;
}

.galeryimages {
    display: flex;
    flex-direction: column;
    @media #{$desktop} {
        flex-flow: row wrap;
    }
    .imagesproject {
        flex: 100%;
        padding-top: $sp-s;
        padding-bottom: $sp-s;
        box-sizing: border-box;
        @media #{$desktop} {
            flex: 50%;
            padding-right: $sp-s;
        }
    }
}

footer {
    background-color: $secoundary-color;
    color: $primary-color;
    padding: $sp-xs;

    .footertitle {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 10px;
    }

    .footersocial {
        @include links;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        @media #{$desktop} {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        li {
            padding: $sp-s $sp-s; 
            @media #{$desktop} {
                margin: 10px;
                padding: $sp-xl $sp-xl;
            }
        }

        a {
            color: $primary-color;
            text-decoration: none; 
        }

        a:hover {
            color: $details-color;
        }
    }   

    p {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 10px;
    }
}