---
layout: default
title: project
---

<div class="homepage_wrapper">
    <div class="banner">
        <figure>
            <img src="{{ "/assets/img/margarida.jpg" |relative_url }}" alt="margarida banner">
        </figure>
        <div class="overlay"></div>
        <div class="myquote">
            <h1>Product Designer</h1>
            <q>What was considered bold was just the difficulty of doing a certain thing. That’s why freedom is, in fact, the impossibility of following the path taken by everyone; freedom consists in following the path that personal qualities lead us to take.</q>
            <cite><strong>Henri Matisse</strong></cite>	
        </div>
    </div>

    <section class="contenthome">
        <div>
            <figure>
                <img><img>
            </figure>
            <h2>Creative Communication Design Solutions</h2>
            <p>Communication is one of the most important skills that a human being can have. We communicate all the time and in different ways and approaches. My work in the area of communication design tries to push the boundaries of communication, bring to life objects that speak for themselves.</p>
        </div>
        <div>
            <figure>
                <img><img>
            </figure>
            <h2>Product Design Building Projects</h2>
             <p>Communication Design and Product Design go hand in hand. However Product Design helded me create solutions that have a major impact on people's daily lives. Dealing with big problems helps me reflect upon real life solutions that can improve our life quality and our future in the world.</p>
        </div>
        <div>
            <figure>
                <img><img>
            </figure>
            <h2>Creative Tools as a medium for change</h2>
            <p>With different design tools, from photoshop to figma, or many others. I can improve my work in many ways. Refine and create simple, effective and intuitive solutions that combine a good structure with a depurated visual image that put the user on the first line.</p>
        </div>
    </section>
</div>
    




