---
layout: default
title: project
---

<div>
    <div class="container top">
        <h1>My Projects</h1>
        <p>This are the projects that were done during my post-gradution in digital experience design.</p>
    </div>
    <section class="container">
        <h2>
            {% if page.tags contains "Alumni" %}
            FBAUL Alumni Platform
            {% elsif page.tags contains "Spotify" %}
            Spotify Streaming
            {% elsif page.tags contains "Donut" %}
            Donut Worry
            {% else %}
            {% endif %}
        </h2>
        {{content}}
    </section>
</div>



